/*MAIN*/

body {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
}


/*ASIDE*/

.left-menu {
    width: 60px;
    height: 100vh;
    padding: 20px 0;
    background-color: #161616;
    float: left;
    z-index: 10;
}

.active {
    background-color: #262626;
}

.ava {
    height: 50px;
    padding: 0 10px !important;
    margin-bottom: 10px;
}

.ava-img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #4f5660;
}

.left-menu>span {
    padding: 10px 15px;
    color: #777777;
    font-size: 30px;
    transition: .1s all;
}

.left-menu>span:hover {
    background-color: #262626;
    transition: .1s all;
}

.auto {
    height: 75%;
}


/*CONTENT*/

.fon {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fon>img {
    width: 100%;
    opacity: 0.5;
}

.con {
    width: auto;
    height: 100vh;
    padding-top: 10%;
    z-index: 1;
}

.form-auth {
    margin: auto;
    padding: 10px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
}

.h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 30px;
}

.input-auth {
    text-align: left;
    padding: 0px 50px;
}

.input-label {
    width: auto;
    position: relative;
    top: -60px;
    left: 5px;
    font-size: 15px;
}

.login {
    padding-left: 60px;
}

.pass {
    padding-left: 70px;
}

.btn {
    padding: 5px 25px;
    margin-top: -10px;
    margin-bottom: 20px;
}


/*LINKS*/

.links {
    background-color: #161616;
    border-radius: 5px 5px 0 0;
    padding: 6px 10px 3px 10px;
    bottom: 0px;
    right: 25px;
    position: absolute;
}

.links>.ava-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

.links>.ava-img>a>img {
    width: 180%;
}