.change {
    text-align: center;
    font-size: 23px;
}

.change {
    text-align: center;
    font-size: 23px;
}

.mers {
    margin-left: 40px !important;
}

.numbers {
    margin-bottom: 50px !important;
}

.table-stud>div {
    color: #777;
    font-size: 18px;
}

.th-caption {
    color: #777;
    text-align: left;
    padding-bottom: 10px;
    font-size: 20px;
}

.th-center {
    color: #777;
    text-align: center;
    padding-bottom: 10px;
}