#arrow {
    top: -160px;
}


/*CONTENT*/

.year>div {
    text-align: center;
    cursor: pointer;
    transition: .1s all;
}

.sub {
    border: 2px solid #4d4d4d;
    padding-top: 5px;
    padding-left: -10px !important;
    padding-right: -10px !important;
    margin-bottom: -10px;
    border-bottom: none;
}

.semestr>div {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: -10px;
    z-index: 10;
    cursor: pointer;
    transition: .1s all;
}

#active-year,
.year>div:hover {
    color: #777;
    transition: .1s all;
}

#active-semester,
.semestr>div:hover {
    color: #777;
    border-bottom: 4px solid #4d4d4d;
    transition: .1s all;
}

#nav-caption {
    text-align: left;
}

#nav-caption:hover {
    color: #000;
    border: 0;
}

#semestr-hr {
    margin-left: 35px;
    margin-right: 55px;
}

#caption {
    margin-right: 50px;
    padding-left: 0;
    border: none;
}

.stat {
    margin-left: 10px;
    margin-bottom: -100px !important;
}

.graphic {
    border: 1px solid #2d2d2d;
    padding: 0 20px;
    text-align: center
}

.graphic>.h1 {
    padding-top: 0px !important;
    font-size: 18px !important;
}

.gistogram {
    width: 95%;
    position: absolute;
    bottom: 0;
}

.line {
    font-size: 10px;
    border-bottom: 2px solid #dd5858;
    margin-top: 50px;
}

.bloc {
    font-size: 10px;
}

.color {
    height: 75px;
}

.color>div {
    width: 100%;
    background-color: #eaeaea;
}

#propcol {
    background-color: #6fb15a;
}

#bolcol {
    background-color: #ddcb4d;
}

#dolgcol {
    background-color: #6dae5f;
}

#opzcol {
    background-color: #db7544;
}

#prop {
    height: 65px;
}

#bol {
    height: 50px;
}

#dolg {
    height: 60px;
}

#opz {
    height: 30px;
}

.count {
    margin-top: 25px;
}

.count>img {
    width: 100%;
}

.count {
    padding-top: 0px;
}

.count>div {
    display: inline-block;
}

.text {
    margin-top: 40px;
}

.text>div {
    font-size: 30px;
    margin-left: -80px;
    color: #777 !important;
}

#text-last {
    padding-top: 75px !important;
}

.number>div {
    color: #4f935c !important;
    font-size: 80px !important;
    text-align: center;
    margin-left: -15px;
}

.proc {
    color: #4f935c;
    font-size: 250px;
    margin-top: -80px;
    margin-right: 20px;
}

.number-count {
    margin-top: -50px;
}

.big-number {
    font-size: 250px;
    color: #4f935c;
}

.scribe-number {
    font-size: 70px;
    position: relative;
    top: -160px;
    left: 280px;
    color: #383838;
}

.table-res {
    border: 1px solid #161616;
    margin-left: 35px;
    margin-bottom: 45px !important;
    border-radius: 5px;
    padding: 10px 15px !important;
    overflow: hidden;
}

.th {
    border-bottom: 1px solid #747373;
    margin-bottom: 10px;
    padding-left: 20px;
}

.td {
    padding-left: 20px;
    text-align: center;
}

.subj {
    font-size: 20px;
    padding-bottom: 5px;
}

.done {
    border-bottom: 4px solid #747373;
    text-align: center;
}

.caption {
    margin-bottom: 20px;
}

.cell>div {
    text-align: center !important;
}

.btn-secondary {
    color: #212529;
    background-color: #eaeaea;
    border: none;
    font-size: 18px;
    margin-left: -10px !important;
}

.btn-secondary:hover {
    color: #212529;
    background-color: #eaeaea;
}

.btn-secondary:active,
.btn-secondary:focus {
    color: #212529 !important;
    background-color: #eaeaea !important;
    border: 0 !important;
    box-shadow: 0 !important;
}

.btn:focus {
    box-shadow: 0 !important;
}