/*MAIN*/

body,
html,
div {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

hr {
    margin-top: 0px;
    border: 1px solid #747373;
}

body {
    background-color: #eaeaea;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #777777 !important;
}


/*TABLE*/

th {
    font-weight: normal;
    color: #878787;
    padding-right: 20px;
    padding-bottom: 15px;
}

td {
    color: #555;
    padding-bottom: 15px;
}


/*ASIDE*/

.left-menu {
    width: 60px;
    height: 100vh;
    position: fixed;
    background-color: #161616;
    z-index: 10;
}

.active {
    background-color: #262626;
}

.ava {
    height: 50px;
    margin: 10px 5px;
    border-radius: 50px;
    width: 50px;
    background-color: #4f5660;
    overflow: hidden;
}

.ava>img {
    width: 100px;
    transform: translateX(-25px);
}

.left-menu>div {
    height: 50px;
    color: #777777;
    font-size: 30px;
    transition: .1s all;
}

.left-menu>div>span,
.left-menu>div>a>span {
    cursor: pointer;
    padding: 10px 15px;
}

.left-menu>div>span:hover {
    background-color: #262626;
    transition: .1s all;
}

.auto {
    height: 50% !important;
}