#arrow {
    top: -125px;
}


/*CONTENT*/

.con>div {
    margin-left: 5px;
}

#year {
    float: none !important;
}

.year>div {
    text-align: center;
    cursor: pointer;
    transition: .1s all;
}

.sub {
    border: 2px solid #4d4d4d;
    padding-top: 5px;
    padding-left: -10px !important;
    padding-right: -10px !important;
    margin-bottom: -10px;
    border-bottom: none;
}

.semestr>div {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: -10px;
    z-index: 10;
    cursor: pointer;
    transition: .1s all;
}

#active-year,
.year>div:hover {
    color: #777;
    transition: .1s all;
}

#active-semester,
.semestr>div:hover {
    color: #777;
    border-bottom: 4px solid #4d4d4d;
    transition: .1s all;
}

#nav-caption {
    text-align: left;
}

#nav-caption:hover {
    color: #000;
    border: 0;
}

#semestr-hr {
    margin-left: 60px;
    margin-right: 55px;
}

#caption {
    margin-right: 50px;
    padding-left: 0;
    border: none;
}

.mers {
    width: 95%;
    border: 1px solid #161616;
    margin-top: 25px;
    margin-bottom: 50px !important;
    margin-left: 50px !important;
    margin-right: 0 !important;
    padding: 10px 5px;
    padding-left: 10px !important;
}

.mers>.row {
    margin-right: 0 !important;
}

.my-card>div {
    width: 80% !important;
}

.my-card>div>img {
    width: 100%;
}

#arrow-card {
    position: relative;
    top: 75px;
    left: -30px;
    font-size: 80px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #777;
    transition: .1s all;
}

#arrow-card:hover {
    color: rgb(77, 77, 77);
    background-color: #bebebe41;
    transition: .1s all;
}

.discribe {
    color: #686868 !important;
    font-size: 20px !important;
    cursor: default;
}

.circle {
    text-align: center;
}

#year {
    float: right;
    padding-right: 0 !important;
    z-index: 100;
}

.big-number {
    top: -25px !important;
    left: -20px;
    margin-bottom: -35px;
    font-size: 100px;
    margin-left: 10px;
    position: relative;
    letter-spacing: 8px;
}

.legend-item>div {
    display: inline-block;
}

.color {
    width: 20px;
    height: 20px;
}

.scribe {
    position: relative;
    top: -5px;
}

.ul {
    margin-top: -5px;
    padding-left: 35px;
}

.ul>div {
    font-size: 16px;
}

#clGreen {
    background-color: #68c262;
}

#clRed {
    background-color: #ab0e19;
}

#clPink {
    background-color: #d28557;
}

#clYellow {
    background-color: #d2bc56;
}

.btn-secondary {
    margin-top: -5px;
    color: #686868 !important;
    background-color: #eaeaea;
    border: none;
    font-size: 20px !important;
    margin-left: -10px !important;
}

.btn-secondary:hover {
    color: #212529;
    background-color: #eaeaea;
}

.btn-secondary:active,
.btn-secondary:focus {
    color: #212529 !important;
    background-color: #eaeaea !important;
    border: 0 !important;
    box-shadow: 0 !important;
}

.btn:focus {
    box-shadow: 0 !important;
}