/*MAIN*/

body,
html,
div {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

hr {
    margin-top: 0px;
    border: 1px solid #363636;
}


/*ASIDE*/

.left-menu {
    width: 60px;
    height: 100vh;
    position: fixed;
    background-color: #161616;
    z-index: 10;
}

.active {
    background-color: #262626;
}

.ava {
    height: 50px;
    margin: 10px 5px;
    border-radius: 50px;
    width: 50px;
    background-color: #4f5660;
    overflow: hidden;
}

.ava>img {
    width: 100px;
    transform: translateX(-25px);
}

.left-menu>div {
    height: 50px;
    /* padding: 100px 15px; */
    color: #777777;
    font-size: 30px;
    transition: .1s all;
}

.left-menu>div>span {
    padding: 10px 15px;
}

.left-menu>div>span:hover {
    background-color: #262626;
    transition: .1s all;
}

.auto {
    height: 50% !important;
}


/*MAIN*/

.con {
    width: auto;
    height: auto;
    padding: 0 !important;
}

.head {
    height: 50%;
    overflow: hidden;
}

.header>img {
    width: 100%;
}

.contacts {
    width: 40%;
    background-color: #000;
    color: #e2dedb;
    opacity: .5;
    border-radius: 5px;
    position: absolute;
    padding: 10px 40px;
    top: 50px;
    left: 200px;
}

.contacts>hr {
    margin-top: 5px;
    clear: left;
}

.contacts>.h1 {
    font-size: 25px;
    margin-top: 5px;
    float: left;
    display: block;
}

.void {
    width: 10%;
}

#doc {
    width: 40%;
    white-space: normal;
    display: block;
    margin-top: -5px;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 0;
    font-size: 15px;
}

#dataend {
    margin-bottom: 50px;
}

span[class="data"] {
    float: right;
    clear: left;
}

.ico {
    font-size: 20px;
}

.photo {
    width: 40%;
    height: auto;
    background-color: #000;
    color: #e2dedb;
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: 0;
}