/*MAIN*/

body,
html,
div {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

hr {
    margin-top: 0px;
    border: 1px solid #747373;
}

body {
    background-color: #eaeaea;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #777777 !important;
}


/*TABLE*/

th {
    font-weight: normal;
    color: #878787;
    padding-right: 20px;
    padding-bottom: 15px;
}

td {
    color: #555;
    padding-bottom: 15px;
}


/*ASIDE*/

.left-menu {
    width: 60px;
    height: 100vh;
    position: fixed;
    background-color: #161616;
    z-index: 10;
}

.active {
    background-color: #262626;
}

.ava {
    height: 50px;
    margin: 10px 5px;
    border-radius: 50px;
    width: 50px;
    background-color: #4f5660;
    overflow: hidden;
}

.ava>img {
    width: 180%;
}

.left-menu>div {
    height: 50px;
    color: #777777;
    font-size: 30px;
    transition: .1s all;
}

.left-menu>div>span,
.left-menu>div>a>span {
    cursor: pointer;
    padding: 10px 15px;
}

.left-menu>div>span:hover,
.left-menu>div>a>span:hover {
    background-color: #262626;
    transition: .1s all;
}

.auto {
    height: 50% !important;
}


/*CONTENT*/

.con {
    width: auto;
    height: auto;
    padding: 0 !important;
}

.head {
    height: 600px;
    overflow: hidden;
}

.header>img {
    width: 100%;
    overflow: hidden;
}

.contacts {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e2dedb;
    border-radius: 5px;
    position: absolute;
    padding: 10px 40px;
    top: 5%;
    left: 200px;
}

.contacts>hr {
    margin-top: 5px;
    clear: left;
}

.contacts>.h1 {
    font-size: 25px;
    margin-top: 5px;
    float: left;
    display: block;
}

.void {
    width: 10%;
}

.data {
    margin-bottom: 15px;
}

.right {
    text-align: right !important;
}

#doc {
    width: 40%;
    white-space: normal;
    display: block;
    margin-top: -5px;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 0;
    font-size: 15px;
}

#dataend {
    margin-bottom: 0px;
}

span[class="data"] {
    float: right;
    clear: left;
}

.ico {
    display: inline-block;
    font-size: 40px;
    width: 8%;
    margin-right: 5%;
    text-align: center;
}

.ico-data {
    display: inline-block;
    width: 80%;
    font-size: 20px;
}

.ico-data>div {
    margin-bottom: 35px;
}

.ico-data>#dataend {
    margin-bottom: 25px;
}

.photo {
    width: 35%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e2dedb;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: 0;
}

.photo>div {
    padding: 10px 35px;
    display: block;
}

.photo>div>.h1 {
    font-size: 30px;
}

.icons {
    display: block;
    font-size: 30px;
    float: right;
    cursor: pointer;
}

.icons>i {
    padding: 5px 10px;
    transition: .2s all;
}

.icons>i:hover {
    background-color: #26262679;
    transition: .2s all;
}

.ava-img {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 75%;
}

.ava-img>img {
    width: 100%;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.btn-secondary {
    color: #e2dedb;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 18px;
    margin-left: -10px !important;
}

.btn-secondary:hover {
    color: #e2dedb;
    background-color: rgba(0, 0, 0, 0);
}

.btn-secondary:active,
.btn-secondary:focus {
    color: #e2dedb !important;
    background-color: rgba(0, 0, 0, 0)!important;
    border: 0 !important;
    box-shadow: 0 0 0 0 #eaeaea !important;
}

.btn:focus {
    box-shadow: 0 !important;
}

.search {
    margin-bottom: -15px;
}

.about {
    padding-bottom: 0px;
    margin-bottom: 0px;
}


/*DB*/

#corp-data,
#corp-search {
    display: none !important;
}

#collect-1,
#collect-2 {
    transition: .3s all;
}

#collect-2 {
    display: none;
}

.btn-danger,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:hover {
    color: #555 !important;
    background-color: #eaeaea !important;
    border: 1px solid #777;
    outline: 0;
    box-shadow: 0 0 0 0 #eaeaea !important;
    border-color: #555;
    padding: 5px 10px;
}

.search-dop {
    font-size: 18px;
    color: #777;
    cursor: pointer;
}

#open-dop {
    margin-left: -10px;
    margin-bottom: 5px;
}

#open-dop>i {
    transform: rotate(-90deg);
    margin-left: 5px !important;
}

.change-sort {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.nav-menu>div {
    padding-right: 0;
    margin-bottom: 15px;
    border-left: 4px solid #777;
    color: #777;
    cursor: pointer;
}

.nav-menu>div:hover,
.nav-active {
    color: #555 !important;
    border-left: 4px solid #262626 !important;
}

.corp {
    padding: 0 40px;
}

.row-logo>div {
    margin-bottom: 35px;
    padding: 0 10px;
    transition: .2s all;
}

.row-logo>div:hover {
    transform: scale(1.2, 1.2);
    transform-origin: center;
    transition: .2s all;
}

.corp-logo {
    padding: 0 10px;
}

.corp-logo>img {
    width: 100%;
}

.caption {
    text-align: center;
    color: #4f5660;
    line-height: 20px;
    font-size: 14px !important;
}

.name-corp {
    margin-bottom: 25px;
    font-size: 20px;
    color: #4f5660
}

.semestr {
    padding: 0 15px;
}

.semestr>div {
    text-align: center;
    padding: 0;
}

.last-semestr {
    margin-right: 0 !important;
}

.semestr>div:hover,
.semestr-active {
    color: #777;
    cursor: pointer;
    border-bottom: 3px solid #777;
}

.coll {
    border-left: 1px solid #777;
    padding-right: 0;
}

.coll-caption {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.coll-item {
    width: 32%;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 15px;
    border: 1px solid #777777;
    border-radius: 5px;
}

.col-4 {
    flex: none;
}

.coll>.row {
    padding: 0
}

.fio {
    color: #161616;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 5px;
}

.ball {
    background-color: #009e08;
    padding: 15px 25px;
    text-align: center;
    color: #eaeaea;
}

.ball>span {
    font-size: 15px;
    position: relative;
    top: -12px;
}

.count {
    font-size: 50px !important;
    margin-right: 10px;
    position: static !important;
}

#exe {
    background-color: #61c45a;
}

#good {
    background-color: #d1bb55;
}

#normal {
    background-color: #d18456;
}

#bad {
    background-color: #ab0e17;
}

.point {
    font-size: 35px;
    color: #777;
    text-align: center;
}