/*MAIN*/

body,
html,
div {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

hr {
    margin-top: 0px;
    border: 1px solid #747373;
}

body {
    background-color: #eaeaea;
}


/*TABLE*/

th {
    font-weight: normal;
    color: #878787;
    padding-right: 20px;
    padding-bottom: 15px;
}

td {
    color: #555;
    padding-bottom: 15px;
}


/*ASIDE*/

.left-menu {
    width: 60px;
    height: 100vh;
    position: fixed;
    background-color: #161616;
    z-index: 10;
}

.active {
    background-color: #262626;
}

.ava {
    height: 50px;
    margin: 10px 5px;
    border-radius: 50px;
    width: 50px;
    background-color: #4f5660;
    overflow: hidden;
}

.ava>img {
    width: 100px;
    transform: translateX(-25px);
}

.left-menu>div {
    height: 50px;
    /* padding: 100px 15px; */
    color: #777777;
    font-size: 30px;
    transition: .1s all;
}

.left-menu>div>span {
    padding: 10px 15px;
}

.left-menu>div>span:hover {
    background-color: #262626;
    transition: .1s all;
}

.auto {
    height: 50% !important;
}


/*MAIN*/

.con {
    width: auto;
    height: auto;
    padding: 0 !important;
}

.head {
    height: 600px;
    overflow: hidden;
}

.header>img {
    width: 100%;
}

.contacts {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e2dedb;
    border-radius: 5px;
    position: absolute;
    padding: 10px 40px;
    top: 5%;
    left: 200px;
}

.contacts>hr {
    margin-top: 5px;
    clear: left;
}

.contacts>.h1 {
    font-size: 25px;
    margin-top: 5px;
    float: left;
    display: block;
}

.void {
    width: 10%;
}

#doc {
    width: 40%;
    white-space: normal;
    display: block;
    margin-top: -5px;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 0;
    font-size: 15px;
}

#dataend {
    margin-bottom: 50px;
}

span[class="data"] {
    float: right;
    clear: left;
}

.ico {
    display: inline-block;
    font-size: 40px;
    width: 10%;
    margin-right: 5%;
    text-align: center;
}

.ico-data {
    display: inline-block;
    width: 80%;
    font-size: 20px;
}

.ico-data>div {
    margin-bottom: 35px;
}

.ico-data>#dataend {
    margin-bottom: 25px;
}

.photo {
    width: 35%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e2dedb;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: 0;
}

.photo>div {
    padding: 10px 35px;
    display: block;
}

.photo>div>.h1 {
    font-size: 30px;
}

.icons {
    display: block;
    font-size: 30px;
    float: right;
    cursor: pointer;
}

.icons>i {
    padding: 5px 10px;
    transition: .2s all;
}

.icons>i:hover {
    background-color: #26262679;
    transition: .2s all;
}

.ava-img {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 75%;
}

.ava-img>img {
    width: 100%;
}

.name {
    font-size: 30px;
    margin-bottom: -10px;
}


/*INFO*/

.info {
    padding: 50px 150px 0 200px;
}

.info>div>.ico {
    /* padding: 7px; */
    width: auto;
    float: left;
    color: #5d5d5d;
    transition: .2s all;
}

.info>div>.ico:hover {
    color: #878787;
    transition: .2s all;
}

.info>div>.h1 {
    text-align: center;
    font-size: 30px;
    width: 90%;
}

.about {
    padding: 60px 40px;
    padding-bottom: 20px;
}

.about>hr {
    margin-top: 4px;
    border: 1px solid #bebebe;
}

.navig {
    font-size: 18px;
    padding: 5px 10px;
    text-align: center;
    margin-right: 20px;
    color: #555;
    border-bottom: 2px solid #bebebe;
    cursor: pointer;
}

.active-nav,
.navig:hover {
    color: #878787;
    border-bottom: 2px solid #454545;
}

.text {
    padding: 20px 15px;
    font-size: 16px;
}

#student,
#univer,
#corp {
    display: none;
}

.active-table {
    display: block !important;
}