/* font-face */
@font-face {
  font-family: 'Comfortaa Bold';
  src: url('../assets/fonts/Comfortaa-Bold.ttf');
}
@font-face {
  font-family: 'Comfortaa Light';
  src: url('../assets/fonts/Comfortaa-Light.ttf');
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../assets/fonts/Comfortaa-Regular.ttf');
}

/* main */
html,
body {
  font-family: 'Comfortaa Light';
  padding: 0;
  margin: 0;
}

footer {
  background-color: #333;
  color: white;
}

/* navigation */
.navigation {
  font-size: 20px;
  margin: 15px 0;
}
.nav-item > a {
  color: #000;
  cursor: pointer;
  transition: 0.3s all;
}
.nav-item > a:hover {
  color: #00000080;
  text-decoration: none;
  transition: 0.3s all;
}

.vertical-divider {
  width: 2px;
  background-color: #000;
}

/* sections */
.phone {
  font-size: 1.2em;
}

.carousel-item,
.carousel-item > div {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-title {
  font-size: 25px;
}
.card-image {
  float: left;
  width: 200px;
  height: 200px;
}
.card-text {
  line-height: 30px;
}

.contacts {
  height: auto;
}

.map {
  width: 600px;
  float: left;
}

/* footer */
.up-footer {
  color: #aaa;
  padding: 35px;
}
.up-footer a {
  color: #aaa;
  font-size: 14px;
}

.bottom-footer {
  background-color: #111;
  padding: 10px;
  color: #555;
  font-size: 14px;
}
.bottom-footer > a {
  color: #555;
  text-decoration: underline;
  transition: .3s all;
}
.bottom-footer > a:hover {
  color: #777;
  transition: .3s all;
}

.icons-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.icons-list > .icon {
  margin: 0 25px;
  display: inline;
}
