@font-face{
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans_L/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'PoiretOne';
	src: url('../fonts/Poiret_One_L/PoiretOne-Regular.ttf');
}
@font-face {
    font-family: 'Gilda';
	src: url('../fonts/Gilda_Display/GildaDisplay-Regular.ttf');
}
html{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #3c3c3c;
	padding: 0px;
	margin: 0px;
	font-family: 'PoiretOne';
	color: #b6bbc1;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
a:focus{
	color: white;
	text-decoration: none;
}
.panel{
	width: 145px;
	float: left;
	background-color: #3c3c3c;
}
.up{
	width: 115px;
	position: sticky;
	top: 85%;
	font-size: 20px;
	padding: 15px;
	filter: opacity(40%);
	text-decoration: none;
	font-family: 'OpenSans';
}
.up:hover{
	color: white;
	filter: opacity(80%);
}
.up:visited{
	color: white;
	text-decoration: none;
}
.up:focus{
	filter: opacity(100%);
	color: white;
	text-decoration: none;
}
.circle{
	user-select: none;
	top: 25px;
	border-radius: 25px;
	background-color: #71736b;
	border: 5px solid azure;
	width: 45px;
	height: 45px;
	margin-top: 15px;
	margin-left: 3%;
	position: fixed;
	transition: 1.2s all;
	z-index: 100;
}
.menu{
	user-select: none;
	display: block;
	top: 25px;
	width: 90%;
	height: 45px;
	margin-top: 15px;
	margin-left: 3%;
    background-color: #71736b;
    /* border-top: 3px solid #f48047;
    border-bottom: 4px solid #f48047; */
    color: white;
    font-size: 20px;
	box-shadow: 0px 0px 50px #201f21;
	position: fixed;
	border: 5px solid;
	border-radius: 25px;
	float: left;
	transition: 1.2s all;
}
#icon{
	width: 45px;
	float: left;
}
#icon > img{
	width: 45px;
}

.elmenu{
	display: block;
	float: left;
}
.elmenuC{
	display: none;
}
.elmenu{
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 45px;
	font-family: 'OpenSans';
    display: inline-block;
	border-left: 5px solid #71736b;
	border-right: 5px solid #71736b;
	transition: 0.78s all;
}
.elmenu:hover{
	cursor: pointer;
	background-color: #6be498;
	color: black;
	margin-top: 0px;
	border-left: 5px solid #a0a396;
	border-right: 5px solid #a0a396;
	transition: 1s all;
}
.maket{
	height: 45px;
	width: 100%;
}
/* content */
.container{
	padding-top: 50px;
}
.content{
	/* float: left;
	clear: right; */
	background-color: #47494f;
	padding: 35px;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	color: white;
	padding-top: 50px;
	font-family: 'PoiretOne';
}
.img{
	width: 100%;
	border: 2px solid #5176ad;
	box-shadow: 0px 0px 5px 2px #5176ad;
}
.img-l{
	width: 100%;
	margin-top: 15px;
	border: 2px solid #5176ad;
	box-shadow: 0px 0px 5px 2px #5176ad;
	transition: 2s;
}
.imgdiv{
	width: 50%;
	float: left;
	margin-right: 20px;
	margin-bottom: 0px;
	padding: 0px;
}
.imgdiv-l{
	width: 90%;
	text-align: left;
	font-size: 20px;
}
#karusel{
	height: 550px;
}
.flo-l{
	float: left;
}
.flo-r{
	float: right;
	margin-right: 0px;
	margin-left: 20px;
}
.con-h1{
	text-align: left;
	font-size: 50px;
	width: 45%;
	margin-left: 25px;
}
.con-h2{
	text-align: left;
	font-size: 30px;
	width: 45%;
	margin-left: 25px;
}
.con-p-span{
	width: 25px;
}
.con-p{
	width: 100%;
	font-size: 20px;
	margin-left: 0px;
	text-align: justify;
	margin-top: 5px;
}

/*footer*/
.footer{
	clear: left;
	background-color: #252323;
	border-top: 5px solid #dfc540;
	padding: 2%;
	padding-right: 0;
	z-index: 1000;
	width: 98%;
	height: auto;
}

.message{
	margin-top: 5%;
	height: 100%;
	width: 25%;
	float: left;
}
.message > div{
	clear: left;
	width: 100%;
	height: 40px;
}
.iconF{
	float: left;
}
.iconImage{
	width: 35px;
}
.addres{
	float: left;
	font-size: 21px;
	padding-top: 5px;
	padding-left: 10px;
}

.about{
	width: 45%;
	height: 100%;
	float: left;
}
.title{
	font-size: 28px;
	top: -20px;
	text-align: center;
	position: relative;
}
.text{
	text-align: center;
	font-size: 22px;
}

.phone{
	margin-top: 5%;
	margin-left: 5%;
	width: 25%;
	float: left;
	position: relative;
	padding: 0;
}
.callUs{
	font-size: 25px;
	margin-bottom: 10px;
	padding: 0;
}
.tell{
	padding-top: 5px;
	font-size: 25px;
}
